.menu {
  height: 42px;
  margin: 0px;
  background-color: #2787be;
  border-radius: 5px;
}
.menu ul {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0px;
}
.menu ul li {
  display: inline;
}

.menu ul li a {
  float: left;
  height: 42px;
  border: none;
  padding: 0 15px 0 15px;
  text-decoration: none;
  color: rgb(27, 22, 15);
  line-height: 42px;
  font-size: 14px;
}
.menu ul li.selected a {
  float: left;
  height: 42px;
  border: none;
  padding: 0 15px 0 15px;
  text-decoration: none;
  color: rgb(27, 22, 15);
  line-height: 42px;
  font-size: 14px;
}

.list:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
