.authorPage {
  display: flex;
  flex-direction: column;
}
.authorWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.author {
    padding: 0 20px 0;
}

.articleBlock {
  flex: 0 1 30%;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 0 auto;
  background-color: #4591e9;
  border-radius: 10px;
}

.button a {
  color: white;
}

.button:hover {
  background-color: #0077ff;
}

.article .name {
  margin-top: 20px;

  font-size: 48px;
  font-weight: 700;
}
.article .description {
  font-size: 18px;
  text-indent: 20px;
}

.article .authors {
  margin-top: 20px;
}

.article .authors .text {
  font-style: italic;
  color: gray;
  padding-left: 20px;
}

.btnToggleRedo {
  margin-top: 25px;

  display: flex;
  align-items: center;
}

.btnToggleRedo img {
  width: 20px;
  height: 20px;

  transform: rotate(270deg);
  margin-right: 10px;
}

.btnToggleRedo.__opened img {
  transform: rotate(90deg);
}

.btnText {
  font-size: 18px;
}

.alertBtnWrapper {
  display: flex;
  justify-content: space-around;
}

.alertBtnWrapper button {
  flex: 0 1 25%;
}

.alertDelete .title {
  margin-bottom: 15px;
}

.authorName {
  margin: 10px 10px 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #e9eff6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
}

.floatingButton {
  margin: 20px auto 0;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: #b7d0ec;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.floatingButton:hover {
  background: #adcdf3;
  box-shadow: 0 15px 20px rgba(95, 196, 236, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

.articleCreateWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.marginLeft {
    margin-left: 10px;
}